body {
    margin:0;
    padding: 0;
    background-color: ghostwhite;
}
header{
    height: 50px;
    background: blue;
}

.search-box{
    padding: 10px;
    width: 300px;
    margin-left: 20px;
    margin-right: 60px;
     margin-top: 5px;
     width: 410px;
}

header div {
    /*border: 1px solid red; */
    float: left;
}

 .flipkart-logo{
    margin-top: 12px;
    margin-left: 150px;
 }  
.login-btn{
    width: 112px;
    height: 30px;
    margin-top: 9px;
    background-color: #fff;
    border: none;
    color: #2874f0;
    font-weight: 500;

}
.more-link{
    color: #fff;
    font-size: 20px;
}
.more-div{
    margin: 13px 15px 0px 30px;
}
.row-container {
    min-height: 430px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dccccc;
    color: gray;
}

.manage-position {
    float: left;
    margin: 10px;
}

.product-image {
    border-right: 1px solid gainsboro;
    padding-right: 10px;
    height: 415px;
}
.product-desciption{
    border-right: 1px solid gainsboro;
    padding-right: 10px;
    height: 415px; 
}

.product-price{

}

#startId {
 border: 2px solid yellowgreen;
}

.start {
    line-height: normal;
    color: rgb(234, 238, 30);
    padding: 2px 4px 2px 6px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
    background-color: #388e3c;
    margin-right: 10px;
}

.new-change{
    border: 2px solid green;
    padding:5px;
    margin: 5px; 
}
